// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.
// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html

/ {
	chosen {
		zephyr,display = &st7735r;
	};
};

&feather_spi {
	status = "okay";
	cs-gpios = <&feather_header 14 GPIO_ACTIVE_LOW>;	/* D5 */

	st7735r: st7735r@0 {
		compatible = "sitronix,st7735r";
		label = "ST7735R";
		spi-max-frequency = <20000000>;
		reg = <0>;
		cmd-data-gpios = <&feather_header 15 GPIO_ACTIVE_LOW>;	/* D6 */
		reset-gpios = <&feather_header 16 GPIO_ACTIVE_LOW>;	/* D9 */
		width = <160>;
		height = <128>;
		x-offset = <0>;
		y-offset = <0>;
		madctl = <0x60>;
		colmod = <0x55>;
		vmctr1 = <0x0e>;
		pwctr1 = [a2 02 84];
		pwctr2 = [c5];
		pwctr3 = [0a 00];
		pwctr4 = [8a 2a];
		pwctr5 = [8a ee];
		frmctr1 = [01 2c 2d];
		frmctr2 = [01 2c 2d];
		frmctr3 = [01 2c 2d 01 2c 2d];
		gamctrp1 = [02 1c 07 12 37 32 29 2d 29 25 2b 39 00 01 03 10];
		gamctrn1 = [03 1d 07 06 2e 2c 29 2d 2e 2e 37 3f 00 00 02 10];
	};
};

&i2c0 {
    adxl345@53 {
		compatible = "adi,adxl345";
		label = "ADXL345";
		reg = <0x53>;
	};
};
