&spi1 {
        status = "okay";
        cs-gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;

        sdhc0: sdhc@0 {
                compatible = "zephyr,sdhc-spi-slot";
                reg = <0>;
                status = "okay";
                mmc {
                    compatible = "zephyr,sdmmc-disk";
                    status = "okay";
                };
                label = "SDHC0";
                spi-max-frequency = <24000000>;
        };
};